*{
    margin: 0;
    padding: 0; 
}
.contener{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: red;
    background-color:wheat;
    padding: 10px 20px;
    border-radius: 5px;
}
span{
    color: sandybrown;
}
/* hader part start */
.articel{
    width: 40%;
}
.articel h1{
    font-size:35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 3px solid greenyellow
}
.articel p{
    font-size: ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 20px
}
.personal-img{
    width: 40%;
}
.personal-img img{
    width: 80%;
}
/* hader part end */
/* My Mission start */
#my-mission{
    margin-bottom: 30px;
}
#my-mission h1{
    text-align: center;
}
#my-mission .Mission{
    width: 30%;
}
#my-mission .Vission{
    width: 30%;
}
#my-mission .Goals{
    width: 30%;
}
#my-mission .img-size{
    width: 100%;
}
/* My Mission end */
/* Develop start */
#develop{
margin-bottom: 40PX;
}
#develop .develop-img{
    background-color: indigo;
    width: 40%;
    height: 200px;
}
#develop .develop-articel{
    background-color: #1e331b;
    width: 50%;
    height: 200px;
}
/* Develop end */
/* know-our star */
#know-our{
    margin-bottom: 40PX;
    }
    #know-our .know-articel{
        background-color: #1e331b;
        width: 50%;
        height: 200px;
    }
    #know-our .know-img{
        background-color: indigo;
        width: 40%;
        height: 200px;
    }
/* know-our end */
/* Build start */
#build{
    margin-bottom: 40PX;
    }
    #build .build-img{
        background-color: #1e331b;
        width: 45%;
        height: 200px;
    }
    #build .build-articel{
        background-color: indigo;
        width: 45%;
        height: 200px;
    }
    .footer{
        background-color: black;
        width: 100%;
        height: 200px;
    }

/* Build end */




