*{
    margin: 0;
    padding: 0; 
}
.contener{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
    background-color:#f1b33e;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
span{
    color: sandybrown;
}
/* hader part start */
#hader{
    margin-bottom: 30px;

} 
#hader .articel{
    width: 40%;
}
#hader .articel h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-left: 10px;
    border-left: 3px solid greenyellow
}
#hader .articel p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: justify;
}
.personal-img{
    width: 40%;
    position: relative;
}
.personal-img img{
    width: 80%;
    position: absolute;
    top: -118px;
    left: 3px;
}
/* hader part end */

/* My Mission start */
#my-mission{
    margin-bottom: 30px;
    margin-top: 150px;
}
#my-mission img{
    width: 50%;
    height: 50%;
    padding: 20px;
}
#my-mission h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
#my-mission h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}
#my-mission p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* padding-bottom: 15px; */
    text-align: justify;
}
#my-mission .mission{
    width: 30%;
    border-radius: 10px;
    background-color: #f5bcd7;
    padding: 0 15px;
}
#my-mission .vission{
    width: 30%;
    border-radius: 10px;
    background-color: #9ff3c4;
    padding: 0 15px;
}
#my-mission .goals{
    width: 30%;
    border-radius: 10px;
    background-color: #e1f1c6;
    padding: 0 15px;
}
/* My Mission end */

/* Develop start */
#develop{
    margin-bottom: 40PX;
    /* background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat; */
}
#develop .develop-img{
    width: 35%;
}
#develop .develop-img img{
   width: 100%;
}
#develop .develop-articel{
    width: 55%;
    padding: 50px 0 30px 0;
}
#develop .develop-articel h1{ 
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-bottom: 15px;
    width: 72%;
}
#develop .develop-articel p{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    text-align: justify;
}
/* Develop end */

/* know-our star */
#pro-beg{
    margin-bottom: 40PX;
}
#pro-beg .pro-text{
     width: 55%;
     padding: 50px 0 30px 0;
}
#pro-beg .pro-text h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-bottom: 15px;
}
#pro-beg .pro-text p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    text-align: justify;
}
#pro-beg .pro-img{
    width: 35%;
}
#pro-beg .pro-img img{
    width: 100%;
}
/* know-our end */
/* Build start */
#stay{
    margin: 50px 0 40px 0;
}
#stay h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
#stay .home-img{
    width: 45%;
    text-align: center;
}
#stay .home-img img{
    width: 75%; 
    height: 100%;
    border-radius: 10px;
}
#stay .home-text{
        width: 50%;
        padding-top: 150px;
}
#stay .home-text h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-bottom: 15px;
    text-align: left;
    width: 92%;
}
#stay .home-text p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    text-align: justify;
}
/* Build end */
.footer{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 40px;
}
.footer h1{
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 15px;
}
.footer p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;  
}